/*Breakpoints responsivos*/
$small:   (0em, 46em);       /* 0, 736px */
$medium:  (46.0625em, 64em); /* 737px, 1024px */
$large:   (64.063em, 90em);  /* 1025px, 1440px */
$xlarge:  (90.063em, 120em); /* 1441px, 1920px */
$xxlarge: (120.063em);       /* 1921px */

/*Tipografía base*/
$fontSize: 16px;

@import './helpers';
@import './table';
@import './mixins';
@import './fonts';
@import './layout.scss';


