<a href="https://github.com/Logoysmx/appListName" target="_blank" id="get-source" alt="Get source code">&lt; / &gt;</a>
<div class="wellmark-popup" [hidden]="!showPopup">
  <div class="popoup-cointaner">
    <div>
        <div id="form-container">
            <h3>Inserte new registry</h3>
            <span (click)="tooglePopup()" id="close-popup">x</span>
            <form class="wellmark-form" (submit)="saveData(name, birthDate)">
              <div class="input-container">
                <label for="name">Name</label>
                <input #name type="text" name="name" placeholder="Your name" required>
              </div>
              <div class="input-container">
              <label for="birth-date">Birth date</label>
                <input #birthDate type="text" name="birth-date" required>
            </div>
            <div>
              <button class="btn silver" type="submit" id="btn-save">Save</button>
            </div>
            </form>
        </div>
    </div>
  </div>
</div>
<header class="container">
  <h1>App test</h1>
  <button class="btn blue" (click)="tooglePopup()">Add name</button>
  <button class="btn red" type="button" (click)="clearList()">Clear list</button>
</header>
<app-data-table-names></app-data-table-names>
<footer>Isaac Fraire Heredia | Software Engineering | <span class="email"></span></footer>